<ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title> Di app </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> Bienvenue sur Di app.</ion-content>
    </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Di</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Angular</ion-item>
        <ion-item>Java</ion-item>
        <ion-item>Php</ion-item>
        <ion-item>Ionic</ion-item>
        <ion-item>Javascript</ion-item>
      </ion-list>
      <ion-card>
        <img [src]="urlImage" alt="">
      </ion-card>
    </ion-content>
  </div>
</ion-app>
<!-- <ion-router-outlet></ion-router-outlet> -->
